{% extends "layout.html.twig" %}
{% block content %}
    <form action="/test.html" method="post">
        {% for key, question in questions %}
            <div class="test text-center question" data-next="{{ key == questions|length ?  key : key + 1 }} " id="{{ key }}" style="display: none; width: 100%">
                <h3>Question {{ key }} in {{ questions|length }}</h3>{{ question.question }}

                {% for answer in question.answer %}
                    <div class="form-control center-block btn btn-info answer" style=" max-width: 300px; margin-top: 10px">
                        <input type="radio" class="hide" value="{{ answer.id }}" name="radio" data-characters="{{ answer.personage|json_encode }}"/> {{ answer.name }}
                    </div>
                {% endfor %}

            </div>
        {% endfor %}
        <button type="button" class="next btn btn-primary center-block" style="margin-top: 10px; min-width: 300px">
            NEXT
        </button>
        <div id="answer"></div>
        <input type="submit" class="btn-success center-block" style="display: none; margin-top: 10px; min-width: 300px"
               value="PROCESS">
    </form>
{% endblock %}

{% block js %}
    <script>
        
        let answers = {};

        function hideQuestions() {
            $('.test').hide();
            $('#1').show();
        }

        function checkButtons() {
            $('.next').attr('disabled', true);

            $('.test .answer').on('click', function () {
                $('.test:visible .answer').removeClass('active');
                $(this).addClass('active');
                $(this).children('input[type=radio]').prop('checked', true);
                $('.next').attr('disabled', false);
            })
        }

        checkButtons();
        
        function nextQuestion() {
            checkButtons();

            $('.next').on('click', function () {
                $('.next').attr('disabled', true);
                let next = $('.test:visible').data('next');
                let characters = $('.test:visible input:checked').data('characters');
                characters.forEach(function(character) {
                    if(!(character in answers)) {
                        answers[character] = 0;
                    }
                    answers[character] = answers[character] + 1;
                })
                let id = $('.test:visible').attr('id');

                if (parseInt(next) === parseInt(id)) {
                    let result = '';
                    let resultCount = 0;
                    for (let character in answers) {
                        if (!answers.hasOwnProperty(character)){
                            continue;  
                        }
                        
                        let count = answers[character];
                        if(count > resultCount) {
                            resultCount = count; 
                            result = character;
                        }
                    }
                    
                    return window.window.location.href = '/characters/' + result + '.html';
                }

                $('#' + id).hide();
                $('#' + next).show();
            })
        }

        hideQuestions();
        nextQuestion();
    </script>
{% endblock %}
