{% extends "AdventureTimeBundle::layout.html.twig" %}
{% block content %}
    <form action="{{ url('test') }}" method="post">
        {% for key, question in questions %}
            {% set next = key %}
            {% if next !=  question.total %}
                {% set next = key + 1 %}
        {% endif %}
            <div class="test text-center" data-next="{{ next }} " id="{{ key }}" style="display: none; width: 100%">
                <h3>Question {{ key }} in {{ question.total }}</h3>{{ question.question }}

                {% for answer in question.answer %}
                    <div class="form-control center-block" style=" max-width: 300px; margin-top: 10px">
                        <input type="radio" value="{{ answer.id }}" name="radio"/> {{ answer.name }}
                    </div>
                {% endfor %}

            </div>
        {% endfor %}
        <button type="button" class="next btn center-block" style="margin-top: 10px; min-width: 300px">Next</button>
        <div id="answer"></div>
        <input type="submit" class="btn center-block" style="display: none; margin-top: 10px; min-width: 300px" value="Process">
    </form>
{% endblock %}

{% block js %}
    <script>

        function hideQuestions() {
            var test = $('.test');
            test.hide();
            $('#1').show('slow');
        }

        function checkButtons()
        {
            $('.next').attr('disabled', true);

            $('.test .form-control').on('click', function(){
                $(this).children('input[type=radio]').prop('checked', true);
                $('.next').attr('disabled', false);
            })
        }

        checkButtons();


        function nextQuestion() {
            checkButtons();

            $('.next').on('click', function () {
                $('.next').attr('disabled', true);
                var next = $('.test:visible').data('next');
                var id = $('.test:visible').attr('id');
                getAnswer(id);

                if(parseInt(next) == parseInt(id)){
                    $('#' + id).hide('slow');
                    $('.next').hide('slow');
                    $('input[type="submit"]').show('slow');
                    $('done').show('slow');
                } else {
                    $('#' + id).hide('slow');
                    $('#' + next).show('slow');
                }
            })
        }

        function getAnswer(id) {
            addHiddenInput($('#' + id + ' input:checked').val());
        }

        function addHiddenInput(answer) {
            $('#answer').append('<input type="hidden" name="answer[' + answer + ']" value="' + answer + '"/>');
        }

        hideQuestions();
        nextQuestion();
    </script>
{% endblock %}
