{% extends "AdventureTimeBundle::layout.html.twig" %}
{% block content %}

    <div class="row" style="width:100%">

        <div class="col-md-5 ">
            <img src="{{ asset('img/personages/' ~ personage.name ~ '.png') }}"
                 class="img-responsive center-block" style="width: 300px">


        </div>
        <div class="col-md-7">
            <table style="width:100%">

                <tr>
                    <td><h3>Name</h3></td>
                    <td><h3>{{ personage.name }}</h3></td>
                </tr>

                <tr>
                    <td><h3>Sex</h3></td>
                    <td><h3>{{ personage.sex }}</h3></td>
                </tr>

                <tr>
                    <td><h3>Age</h3></td>
                    <td><h3>{{ personage.age }}</h3></td>
                </tr>

                <tr>
                    <td><h3>Race</h3></td>
                    <td><h3>{{ personage.race }}</h3></td>
                </tr>

            </table>

        </div>

    </div>
{% endblock %}
