{% extends "AdventureTimeBundle::layout.html.twig" %}
{% block content %}
    {{ form_start(form) }}
    <div class="row registration-form">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1>Registration</h1>
            <div class="form-group">
                <label for="registration_username">username</label>
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                <label for="registration_email">email</label>
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                <label for="registration_password">password</label>
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                <label for="registration_password_confirm">password confirm</label>
                {{ form_widget(form.password_confirm, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
    {{ form_end(form) }}
{% endblock %}


