{% macro url(path) %}
    {{- urlPrefix ~ path -}}
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Party on the tree</title>

    <link rel="stylesheet" href="{{ _self.url('/bootstrap.min.css') }}">

    <style>
        body {
            background-image: url('{{ _self.url('/img/bg2.png') }}');
            background-repeat: no-repeat;
            background-color: #bae4da;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ _self.url('/index.html') }}">Party on tree</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ _self.url('/index.html') }}">Сharacters</a></li>
                <li>
                    <a href="{{ _self.url('/test.html') }}">Test</a></li>
                <li>
                    <a href="{{ _self.url('/about.html') }}">About</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="col-md-2"></div>
<div class="col-md-8 col-sm-12">
    {% block content %}{% endblock %}
</div>
<div class="col-md-2"></div>
</body>
<script src="{{ _self.url('/jquery-1.11.3.min.js') }}"></script>
<script src="{{ _self.url('/bootstrap.min.js') }}"></script>

{% block js %}
{% endblock %}

</html>
